.background {
  background-image: linear-gradient(
      to right,
      rgba(117, 149, 244, 0.8),
      rgba(8, 39, 132, 0.9)
    ),
    url("../../../assets/net-header.png");
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 400px; */
  height: fit-content;
}
