.carousel {
  position: relative;
  /* width: 100%; */
  overflow: hidden;
}

.carousel-track {
  display: flex;
  animation: scroll 15s linear infinite alternate;
}

.carousel-item {
  margin: auto 8px;
  flex: 1 0 calc(100% / 8);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Media query for extra small screens  */
@media (max-width: 700px) {
  .carousel-item {
    flex: 1 0 calc(100% / 4);
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-200%);
    }
  }
}

@media (max-width: 580px) {
  .carousel-item {
    margin: auto 6px;

    flex: 1 0 calc(100% / 4);
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-200%);
    }
  }
}
@media (max-width: 450px) {
  .carousel-item {
    flex: 1 0 calc(100% / 3);
  }
}

@media (max-width: 350px) {
  .carousel-item {
    flex: 1 0 calc(100% / 2);
  }
}
@media (max-width: 1200px) {
  .carousel-item {
    margin: auto 5px;
  }
}
