.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1.2s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.image-container {
  position: relative;

  overflow: hidden;
}

.imageArab {
  position: absolute;
  width: 80%;
  height: 100%;
  left: -100px;
  object-fit: contain;
  padding-right: 400px;
  padding-bottom: 50px;
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
.imageEng {
  position: absolute;
  width: 80%;
  height: 100%;
  right: 0;
  object-fit: contain;
  padding-left: 600px;
  padding-bottom: 250px;
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.imageArab.visible {
  opacity: 1;
  transform: translate(0, 0);
  animation: diagonal-slide-in-arab 1s ease-in-out forwards;
}

.imageArab.hiddenn {
  opacity: 0;
  animation: diagonal-slide-out-arab 1s ease-out forwards;
}
.imageEng.visible {
  opacity: 1;
  transform: translate(0, 0);
  animation: diagonal-slide-in 1s ease-in-out forwards;
}

.imageEng.hiddenn {
  opacity: 0;
  animation: diagonal-slide-out 1s ease-out forwards;
}

@keyframes diagonal-slide-in-arab {
  0% {
    opacity: 0;
    transform: translate(-100%, -100%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes diagonal-slide-out-arab {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(100%, 100%);
  }
}
@keyframes diagonal-slide-in {
  0% {
    opacity: 0;
    transform: translate(100%, -100%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes diagonal-slide-out {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(-100%, 100%);
  }
}

@media (max-width: 1350px) {
  .image {
    /* width: 40%;
    padding-left: 0px;
    padding-bottom: 180px; */
  }

  .imageArab {
    width: 40%;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .imageEng {
    width: 40%;
    padding-left: 0px;
    padding-bottom: 180px;
  }
}
@media (max-width: 1100px) {
  .image {
    /* width: 42%;
    padding-bottom: 150px; */
  }

  .imageArab {
    width: 42%;
    /* padding-bottom: 150px; */
  }
  .imageEng {
    width: 42%;
    padding-bottom: 150px;
  }
}

@media (max-width: 990px) {
  .image {
    /* height: 60%;
    width: 90%;

    inset: 0;
    margin: 5% auto; */
  }

  .imageArab {
    height: 60%;
    width: 90%;

    inset: 0;
    margin: -5% auto;
  }
  .imageEng {
    height: 60%;
    width: 90%;

    inset: 0;
    margin: 5% auto;
  }
}
@media (max-width: 750px) {
  .imageArab {
    height: 55%;
    width: 70%;
  }
  .imageEng {
    height: 55%;
    width: 70%;
  }
}
@media (max-width: 570px) {
  .imageArab {
    height: fit-content;
    /* height: 55%; */
    width: 85%;
  }
  .imageEng {
    height: fit-content;
    width: 85%;
    margin-top: 50px;
  }
}
