.gradientBg {
  background-image: linear-gradient(
      to right,
      rgba(255, 95, 109, 0.85),
      rgba(8, 39, 132, 0.85)
    ),
    url("../../assets/contactus-header.png");
  background-size: 100% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  /* height: fit-content; */
}

